global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:80
    acl is_users   path_beg /api/users
    acl is_products path_beg /api/products
    acl is_orders  path_beg /api/orders

    use_backend users_back    if is_users
    use_backend products_back if is_products
    use_backend orders_back   if is_orders
    default_backend users_back

backend users_back
    balance roundrobin
    option httpchk GET /health
    server users1 vm-microservices:5002 check
    server users2 vm-microservices:5012 check

backend products_back
    balance roundrobin
    option httpchk GET /health
    server products1 vm-microservices:5003 check
    server products2 vm-microservices:5013 check

backend orders_back
    balance roundrobin
    option httpchk GET /health
    server orders1 vm-microservices:5004 check
    server orders2 vm-microservices:5014 check

listen stats
    bind *:8404
    stats enable
    stats uri /
    stats refresh 10s
    stats auth admin:admin123
